body{
    display: block;
    background-color: #FFEC47; /*changing bg color*/
        /* margin: 0 auto; */
    text-align: center;
    padding: 60px;

/* changing the way it is been aligned https://medium.freecodecamp.org/how-to-center-things-with-style-in-css-dc87b7542689*/
}

 * {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
   }
  
  .container {
	color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  }
  
  #seconds {
  display: inline-block;
	font-size: 2em;
	list-style-type: none;
	padding: 1em;
  text-transform: uppercase;
  display: block;
  font-size: 4.5rem;
  text-align: center;
  margin-top: 300px;
  }
 
//this is based on code snippet found at:http://jsfiddle.net/sELBM/426/

.stopSign {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.stopSign:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
